<%= form_with model: board , local: true  do |f|%>
  <div>
    <% if board.new_record? %>
      <h3>New board</h3>
      <p> this creates a Board</p>
    <% else %>
      <h3>Edit board <%= board.name %></h3>
      <p> this edits Boards Template</p>
    <% end %>
  </div>
  <div>
    <%= f.label :name, class:""%>
    <div>
      <%= f.text_field :name , class:"form-control-sm"%>
    </div>
  </div>
  <% link_to "Cancel" , root_path , class: ""%>
  <div class="actions">
    <%= link_to root_path  , class:"btn btn-sm btn-dark rounded-0 mt-3" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit "Submit" , class:"btn btn-sm btn-dark rounded-0 mt-3"%>
  </div>
<% end %>
