  <div data-controller ="board" data-api-url = "<%= api_board_lists_path(@board) %>"
  data-board-lists-url = "<%= board_lists_path(@board) %>"
  data-list-positions-api-url = "<%= api_board_list_positions_path(@board) %>"
    data-item-positions-api-url = "<%= api_item_positions_path %>"
   id="board" style="overflow-x: scroll;" ></div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<%= button_tag "info" , class:"btn btn-primary" , data:{"bs-toggle": "modal" , "bs-target": "#exampleModal"} %>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>