<%= form_with   url: board_board_users_path(@board),scope:nil,local: true  do |f|%>
  <div>
    <h3>New board member</h3>
    <p> this adds or deletes a Board member</p>
  </div>
  <div class="list-group" style="width:50%;  margin: auto;">
    <% User.find_each do |user| %>
      <%= f.label :user_ids, class: "list-group-item" do %>
        <label class="list-group-item">
          <%= f.check_box :user_ids, {multiple: true, checked: @board.members.include?(user), disabled: @board.user == user ,class: "form-check-input me-1"}, user.id  %>
          <%= user.email %>
        </label>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to root_path  , class:"btn btn-sm btn-dark rounded-0 mt-3" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit "Assign memeber" , class:"btn btn-sm btn-dark rounded-0 mt-3"%>
  </div>
<% end %>
